# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察均值編碼的效果

# [作業重點]
- 仿造範例, 完成標籤編碼與均值編碼搭配邏輯斯迴歸的預測
- 觀察標籤編碼與均值編碼在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

# 作業1
* 請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次

In [19]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

# 作業2
* 觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼?

In [21]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_temp[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.780004837244799
time : 0.028001785278320312 sec

D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [29]:
# 均值編碼 + 邏輯斯迴歸
data = pd.concat([df[:train_num], train_Y], axis=1)

print(data)

df_col = list(df.columns)
df_col.remove('Name')
df_col.remove('Ticket')
for c in df_col:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
data = data.drop(['Survived'], axis=1 )
data = data.drop(['Name'], axis=1)
data = data.drop(['Ticket'], axis=1)
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

                                                  Name     Sex  \
0                              Braund, Mr. Owen Harris    male
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                               Heikkinen, Miss. Laina  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                             Allen, Mr. William Henry    male
5                                     Moran, Mr. James    male
6                              McCarthy, Mr. Timothy J    male
7                       Palsson, Master. Gosta Leonard    male
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female
9                  Nasser, Mrs. Nicholas (Adele Achem)  female
10                     Sandstrom, Miss. Marguerite Rut  female
11                            Bonnell, Miss. Elizabeth  female
12                      Saundercock, Mr. William Henry    male
13                         Andersson, Mr. Anders Johan    male
14                Vestrom, Miss. Hulda Amanda Adolfina  female
15                    Hewlett, Mrs. (Mary D Kingcome)   female
16                                Rice, Master. Eugene    male
17                        Williams, Mr. Charles Eugene    male
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female
19                             Masselmani, Mrs. Fatima  female
20                                Fynney, Mr. Joseph J    male
21                               Beesley, Mr. Lawrence    male
22                         McGowan, Miss. Anna "Annie"  female
23                        Sloper, Mr. William Thompson    male
24                       Palsson, Miss. Torborg Danira  female
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female
26                             Emir, Mr. Farred Chehab    male
27                      Fortune, Mr. Charles Alexander    male
28                       O'Dwyer, Miss. Ellen "Nellie"  female
29                                 Todoroff, Mr. Lalio    male
..                                                 ...     ...
861                        Giles, Mr. Frederick Edward    male
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female
863                  Sage, Miss. Dorothy Edith "Dolly"  female
864                             Gill, Mr. John William    male
865                           Bystrom, Mrs. (Karolina)  female
866                       Duran y More, Miss. Asuncion  female
867               Roebling, Mr. Washington Augustus II    male
868                        van Melkebeke, Mr. Philemon    male
869                    Johnson, Master. Harold Theodor    male
870                                  Balkic, Mr. Cerin    male
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female
872                           Carlsson, Mr. Frans Olof    male
873                        Vander Cruyssen, Mr. Victor    male
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female
875                   Najib, Miss. Adele Kiamie "Jane"  female
876                      Gustafsson, Mr. Alfred Ossian    male
877                               Petroff, Mr. Nedelio    male
878                                 Laleff, Mr. Kristo    male
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female
880       Shelley, Mrs. William (Imanita Parrish Hall)  female
881                                 Markun, Mr. Johann    male
882                       Dahlberg, Miss. Gerda Ulrika  female
883                      Banfield, Mr. Frederick James    male
884                             Sutehall, Mr. Henry Jr    male
885               Rice, Mrs. William (Margaret Norton)  female
886                              Montvila, Rev. Juozas    male
887                       Graham, Miss. Margaret Edith  female
888           Johnston, Miss. Catherine Helen "Carrie"  female
889                              Behr, Mr. Karl Howell    male
890                                Dooley, Mr. Patrick    male

               Ticket        Cabin Embarked  Survived
0           A/5 21171         None        S         0
1            PC 17599          C85        C         1
2    STON/O2. 3101282         None        S         1
3              113803         C123        S         1
4              373450         None        S         0
5              330877         None        Q         0
6               17463          E46        S         0
7              349909         None        S         0
8              347742         None        S         1
9              237736         None        C         1
10            PP 9549           G6        S         1
11             113783         C103        S         1
12          A/5. 2151         None        S         0
13             347082         None        S         0
14             350406         None        S         0
15             248706         None        S         1
16             382652         None        Q         0
17             244373         None        S         1
18             345763         None        S         0
19               2649         None        C         1
20             239865         None        S         0
21             248698          D56        S         1
22             330923         None        Q         1
23             113788           A6        S         1
24             349909         None        S         0
25             347077         None        S         1
26               2631         None        C         0
27              19950  C23 C25 C27        S         0
28             330959         None        Q         1
29             349216         None        S         0
..                ...          ...      ...       ...
861             28134         None        S         0
862             17466          D17        S         1
863          CA. 2343         None        S         0
864            233866         None        S         0
865            236852         None        S         1
866     SC/PARIS 2149         None        C         1
867          PC 17590          A24        S         0
868            345777         None        S         0
869            347742         None        S         1
870            349248         None        S         0
871             11751          D35        S         1
872               695  B51 B53 B55        S         0
873            345765         None        S         0
874         P/PP 3381         None        C         1
875              2667         None        C         1
876              7534         None        S         0
877            349212         None        S         0
878            349217         None        S         0
879             11767          C50        C         1
880            230433         None        S         1
881            349257         None        S         0
882              7552         None        S         0
883  C.A./SOTON 34068         None        S         0
884   SOTON/OQ 392076         None        S         0
885            382652         None        Q         0
886            211536         None        S         0
887            112053          B42        S         1
888        W./C. 6607         None        S         0
889            111369         C148        C         1
890            370376         None        Q         0

[891 rows x 6 columns]
shape : (891, 5)
score : 0.8350366889413987
time : 0.02000141143798828 sec

D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [ ]:
data = pd.concat([df[:train_num], train_Y], axis=1)
dataCol = list(data.columns)
dataCol.remove('Name')
dataCol.remove('Ticket')
print(dataCol)
print(data.groupby('Survived')['Survived'].size())
print(data.groupby('Survived').size())